In [1]:
import pandas as pd
data = pd.read_csv("운동처방데이터저장.csv")
data

,name,site_link,운동대상,체력항목,운동형태,운동부위,시설 필요유무
0,웨이트 트레이닝 루틴프로그램,/entry.naver?docId=3535306&categoryId=58501&ci...,청소년,근력/근지구력,웨이트기계,전신/가슴/상체/하체,Y
1,맨몸운동 루틴프로그램,/entry.naver?docId=3535307&categoryId=58501&ci...,청소년,근력/근지구력,맨몸,전신/가슴/상체/하체,N
2,앉았다 일어서며 팔 들어올리기,/entry.naver?docId=3535308&categoryId=58501&ci...,청소년,근력/근지구력,밴드,어깨측면/허벅지앞쪽,Y
3,런지하며 상체 비틀기,/entry.naver?docId=3535309&categoryId=58501&ci...,청소년,근력/근지구력,밴드,어깨측면/허벅지앞쪽,Y
4,팔 들어 올리며 런지,/entry.naver?docId=3535310&categoryId=58501&ci...,청소년,근력/근지구력,밴드,어깨뒤쪽/어깨측면/허벅지앞쪽,Y
...,...,...,...,...,...,...,...
491,풍선 튕기기,/entry.naver?docId=3535807&categoryId=58501&ci...,어르신,협응력,풍선,전신,Y
492,머리 위로 공 넘기기,/entry.naver?docId=3535808&categoryId=58501&ci...,어르신,협응력,공,전신,Y
493,발바닥 치기,/entry.naver?docId=3535809&categoryId=58501&ci...,어르신,협응력,맨몸,전신,N
494,앞뒤로 선넘기,/entry.naver?docId=3535810&categoryId=58501&ci...,어르신,협응력,맨몸,전신,N
495,좌우로 선넘기,/entry.naver?docId=3535811&categoryId=58501&ci...,어르신,협응력,맨몸,전신,N

In [7]:
import numpy as np
import pandas as pd
import urllib
from urllib.request import urlopen
from urllib import parse
from urllib.request import Request
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import json

In [31]:
address="서울특별시 중구 필동로1길 30(필동3가)"

In [32]:
#naver map api key
client_id = '7mfj21mpta';    # 본인이 할당받은 ID 입력
client_pw = 'pdtBr9oxlKR3PS6WViF1vDykk4uSSFStHJt2xS0v';    # 본인이 할당받은 Secret 입력

api_url = 'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query='

# 주소 목록 파일 (.csv)
# data = pd.read_csv('파일명.csv')
# 주소 목록 파일 (.xlsx)
# data = pd.read_excel('파일명.xlsx')

# 네이버 지도 API 이용해서 위경도 찾기
print(address)
add_urlenc = parse.quote(address)  
url = api_url + add_urlenc
request = Request(url)
request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
request.add_header('X-NCP-APIGW-API-KEY', client_pw)

try:
    response = urlopen(request)
except HTTPError as e:
    print('HTTP Error!')
    latitude = None
    longitude = None
else:
    rescode = response.getcode()
    if rescode == 200:
        response_body = response.read().decode('utf-8')
        response_body = json.loads(response_body)   # json
        if response_body['addresses'] == [] :
            print("'result' not exist!")
            latitude = None
            longitude = None
        else:
            latitude = response_body['addresses'][0]['y']
            longitude = response_body['addresses'][0]['x']
            print("위도: ", latitude, "경도: ", longitude)
            print("Success!")
    else:
        print('Response error code : %d' % rescode)
        latitude = None
        longitude = None

서울특별시 중구 필동로1길 30(필동3가)
위도:  37.5582582 경도:  127.0001869
Success!

In [53]:
list_add = list(address.split())
print(list_add)
print(list_add[0],list_add[1])
si = list_add[0]
gu =list_add[1]

['서울특별시', '중구', '필동로1길', '30(필동3가)']
서울특별시 중구

In [109]:
data2 = pd.read_csv("전국체육시설현황데이터.csv")
data2

data2=data2.fillna(0)
data2
# is_target=bmi['COAW_FLAG_NM'] == person1.target
# target=bmi[is_target]

,FACI_NM,FACI_GB_CD,FACI_GB_NM,FCOB_CD,FCOB_NM,FTYPE_CD,FTYPE_NM,FACI_STAT,FACI_ROAD_POST,FACI_ROAD_ADDR1,...,CP_YMD,TH_YMD,SDWN_YMD,NATION_YN,SSM_DSN_YN,ATNM_CHK_YN,DATA_FROM_GB_CD,DEL_YN,REG_DT,UPD_DT
0,(외립석입구),P,공공,P08,간이운동장,P0801,간이운동장,정상운영,0.0,0,...,,,,N,,N,0,N,2020-02-10,2020-02-10
1,(주)한샘레포츠타운(공단점),N,신고,N10,체력단련장업,N1001,체력단련장,정상운영,15433.0,경기도 안산시 단원구 동산로 63 (원시동),...,,,,N,,Y,0,N,2016-12-31,2017-02-26
2,(자산경로당),P,공공,P08,간이운동장,P0801,간이운동장,정상운영,39588.0,경상북도 김천시 자산3길 16 (성내동),...,,,,N,,N,SFMS,N,2020-02-10,2021-04-29
3,볼&큐 빌리어드클럽,N,신고,N11,당구장업,N1101,당구장,정상운영,426811.0,"경기도 안산시 상록구 반석로 88, 4층 (본오동)",...,,,,N,,Y,태블릿,N,2016-12-31,2019-01-14
4,안산 힘찬 태권도,N,신고,N08,체육도장업,N0805,태권도,정상운영,15535.0,경기도 안산시 상록구 각골로 127 (본오동),...,,,,N,,Y,SFMS,N,2016-12-31,2019-03-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108282,美 Diet Boxing Club,N,신고,N08,체육도장업,N0801,권투,정상운영,7262.0,서울특별시 영등포구 영등포로 85-1 (양평동1가),...,,,,N,,Y,태블릿,N,2016-12-30,2019-01-03
108283,우리 아이풀(舊 크레피아수영장),N,신고,N07,수영장업,N0701,실내,정상운영,302800.0,대전광역시 서구 계백로 1186 (가수원동),...,,,,N,N,N,0,N,2016-12-31,2018-09-19
108284,身휘트니스,N,신고,N10,체력단련장업,N1001,체력단련장,정상운영,463827.0,"경기도 성남시 분당구 성남대로 912, 지하1층 (야탑동, 분당BYC빌딩)",...,,,,N,,Y,태블릿,N,2016-12-31,2020-07-27
108285,태권道장 휘영찬,N,신고,N08,체육도장업,N0805,태권도,정상운영,302812.0,"대전광역시 서구 관저동로 66 (관저동, 3층)",...,,,,N,,Y,0,N,2016-12-31,2018-09-20
108286,道心성인태권도,N,신고,N08,체육도장업,N0805,태권도,정상운영,1384.0,서울특별시 도봉구 방학로 175(방학동),...,,,,N,,Y,SFMS,N,2021-09-01,2021-09-01

In [114]:
#!pip install scipy

Requirement already satisfied: scipy in c:\health_care\health_care\lib\site-packages (1.7.2)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\health_care\health_care\lib\site-packages (from scipy) (1.21.4)

In [117]:
data3 = data2[['FACI_STAT','CP_NM','CPB_NM','FACI_POINT_X','FACI_POINT_Y','FMNG_USER_TEL']]
data3

from scipy.spatial import distance
#round(distance.euclidean((경도,위도 ), (longitude, latitude)),5)

x_list=data3['FACI_POINT_X'].tolist()
y_list = data3['FACI_POINT_Y'].tolist()
list_dis=[]

#print(x_list,y_list)

for i in range(0,len(x_list)):
    #print(round(distance.euclidean((float(longitude),float(latitude)), (x_list[i], y_list[i])),5))
    list_dis.append(round(distance.euclidean((float(longitude),float(latitude)), (x_list[i], y_list[i])),5))

data3["거리"]=pd.DataFrame(list_dis)
data3

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_7628/2106828903.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3["거리"]=pd.DataFrame(list_dis)

,FACI_STAT,CP_NM,CPB_NM,FACI_POINT_X,FACI_POINT_Y,FMNG_USER_TEL,거리
0,정상운영,경상북도,김천시,0.000000,0.000000,054-420-8033,132.43742
1,정상운영,경기도,안산시,126.797270,37.314431,031-492-3391,0.31722
2,정상운영,경상북도,김천시,128.122092,36.120771,054-420-8077,1.82347
3,정상운영,경기도,안산시,126.869468,37.296411,0,0.29266
4,정상운영,경기도,안산시,126.872700,37.300895,0,0.28721
...,...,...,...,...,...,...,...
108282,정상운영,서울특별시,영등포구,126.891175,37.522315,0,0.11478
108283,정상운영,대전광역시,서구,127.355226,36.304872,042-541-7944,1.30270
108284,정상운영,경기도,성남시,127.129262,37.410966,0,0.19585
108285,정상운영,대전광역시,서구,127.340994,36.298068,042-542-9091,1.30546
108286,정상운영,서울특별시,도봉구,127.032648,37.662070,0,0.10877

In [121]:
import numpy as np
data3=data3.replace(0,np.nan)
data3

,FACI_STAT,CP_NM,CPB_NM,FACI_POINT_X,FACI_POINT_Y,FMNG_USER_TEL,거리
0,정상운영,경상북도,김천시,NaN,NaN,054-420-8033,132.43742
1,정상운영,경기도,안산시,126.797270,37.314431,031-492-3391,0.31722
2,정상운영,경상북도,김천시,128.122092,36.120771,054-420-8077,1.82347
3,정상운영,경기도,안산시,126.869468,37.296411,NaN,0.29266
4,정상운영,경기도,안산시,126.872700,37.300895,NaN,0.28721
...,...,...,...,...,...,...,...
108282,정상운영,서울특별시,영등포구,126.891175,37.522315,NaN,0.11478
108283,정상운영,대전광역시,서구,127.355226,36.304872,042-541-7944,1.30270
108284,정상운영,경기도,성남시,127.129262,37.410966,NaN,0.19585
108285,정상운영,대전광역시,서구,127.340994,36.298068,042-542-9091,1.30546
108286,정상운영,서울특별시,도봉구,127.032648,37.662070,NaN,0.10877

In [122]:
condition=(data3.FACI_STAT == '정상운영')
data3[condition]

,FACI_STAT,CP_NM,CPB_NM,FACI_POINT_X,FACI_POINT_Y,FMNG_USER_TEL,거리
0,정상운영,경상북도,김천시,NaN,NaN,054-420-8033,132.43742
1,정상운영,경기도,안산시,126.797270,37.314431,031-492-3391,0.31722
2,정상운영,경상북도,김천시,128.122092,36.120771,054-420-8077,1.82347
3,정상운영,경기도,안산시,126.869468,37.296411,NaN,0.29266
4,정상운영,경기도,안산시,126.872700,37.300895,NaN,0.28721
...,...,...,...,...,...,...,...
108282,정상운영,서울특별시,영등포구,126.891175,37.522315,NaN,0.11478
108283,정상운영,대전광역시,서구,127.355226,36.304872,042-541-7944,1.30270
108284,정상운영,경기도,성남시,127.129262,37.410966,NaN,0.19585
108285,정상운영,대전광역시,서구,127.340994,36.298068,042-542-9091,1.30546
108286,정상운영,서울특별시,도봉구,127.032648,37.662070,NaN,0.10877

In [123]:

# is_target=bmi['COAW_FLAG_NM'] == person1.target
# target=bmi[is_target]

same_si = data3['CP_NM']==si
target = data3[same_si]
target

,FACI_STAT,CP_NM,CPB_NM,FACI_POINT_X,FACI_POINT_Y,FMNG_USER_TEL,거리
252,정상운영,서울특별시,영등포구,126.891347,37.525494,NaN,0.11366
253,정상운영,서울특별시,강동구,127.129657,37.556670,NaN,0.12948
261,정상운영,서울특별시,구로구,126.870255,37.504717,NaN,0.14053
262,정상운영,서울특별시,송파구,127.125738,37.497661,02-565-9015,0.13941
265,정상운영,서울특별시,종로구,127.016000,37.574056,NaN,0.02235
...,...,...,...,...,...,...,...
108269,폐업,서울특별시,관악구,126.913418,37.480527,NaN,0.11649
108274,정상운영,서울특별시,중구,126.994825,37.561141,NaN,0.00609
108278,정상운영,서울특별시,영등포구,126.897059,37.534560,NaN,0.10582
108282,정상운영,서울특별시,영등포구,126.891175,37.522315,NaN,0.11478
108286,정상운영,서울특별시,도봉구,127.032648,37.662070,NaN,0.10877

In [126]:
same_gu = target['CPB_NM']==gu
target2 = target[same_gu]
target2

# target2.dtypes

target3=target2.dropna(subset=["FACI_POINT_X"])
target4=target3.dropna(subset=["FACI_POINT_Y"])


target4

# target5=target4.dropna(subset=["FMNG_USER_TEL"])

,FACI_STAT,CP_NM,CPB_NM,FACI_POINT_X,FACI_POINT_Y,FMNG_USER_TEL,거리
298,정상운영,서울특별시,중구,126.991127,37.560088,NaN,0.00924
326,정상운영,서울특별시,중구,127.016534,37.564217,NaN,0.01740
327,정상운영,서울특별시,중구,126.973561,37.559473,NaN,0.02665
528,정상운영,서울특별시,중구,126.985168,37.562531,NaN,0.01561
529,정상운영,서울특별시,중구,126.985168,37.562531,NaN,0.01561
...,...,...,...,...,...,...,...
107583,정상운영,서울특별시,중구,126.985128,37.560416,NaN,0.01521
107696,정상운영,서울특별시,중구,127.020981,37.566794,02-2231-5547,0.02248
107712,정상운영,서울특별시,중구,127.015401,37.558988,NaN,0.01523
108213,정상운영,서울특별시,중구,126.986150,37.564903,02-3705-6032,0.01553
108274,정상운영,서울특별시,중구,126.994825,37.561141,NaN,0.00609